@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.025em;
}

body a {
    text-decoration: none !important;
}

label {
    display: block;
}

.picker .pc-element,
.picker .pc-select .pc-trigger {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2.4;
    color: #555 !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.picker .pc-select .pc-trigger {
    line-height: 1.5 !important;
}

.picker .pc-element:hover,
.picker .pc-trigger:hover {
    color: #555 !important;
    background-color: transparent !important;
}

.picker .pc-select .pc-list input[type=search] {
    width: 100%;
    outline: 0;
    color: #555 !important;
    border: none;
    position: relative;
    background-color: #f1f1f1 !important;
    border-bottom: 0 !important;
    padding: 8px;
}

.picker .pc-select .pc-list {
    position: absolute;
    text-align: left;
    left: 0;
    top: calc(100% - 5px) !important;
    width: 100%;
    border: 0 !important;
    z-index: 11;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #eee !important;
}

.picker .pc-select,
.picker {
    min-width: 0 !important;
    max-width: 100% !important;
    display: block !important;
}

.picker .pc-select .pc-list li {
    padding: 8px !important;
    background-color: #fff !important
}

.picker .pc-select .pc-list li:hover {
    background-color: #555 !important;
}

.picker .pc-element .pc-close,
.picker .pc-trigger .pc-close {
    top: 8px !important;
}


/* over rided */

body {
    color: #000;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 5px solid #efefef;
}

.sidebar {
    height: calc(100vh - 51px);
    overflow-y: auto;
    background-color: #fff;
}

.web_btn {
    color: #fff;
    padding: 12px 30px;
    display: inline-block;
    font-size: 90%;
    font-weight: 500;
    cursor: pointer;
    border-color: transparent;
    background-color: #00b936;
    border: 2px solid #00b936;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 15px;
    font-weight: 600;
}

.web_btn::after {
    background-color: #fff;
    content: "";
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    transform: skewX(25deg);
    transition: all .5s ease 0s;
    width: 0;
    z-index: -1;
}

.web_btn:hover,
.web_btn:focus {
    color: #fff;
}

.web_btn:hover::after,
.web_btn:focus::after {
    left: 5%;
    width: 90%;
    z-index: 1;
}

.small_btn {
    padding: 6px 15px;
    font-size: 80%;
}

.add_btn {
    text-align: right;
}

.add_btn .web_btn {
    margin-top: 0;
    margin-bottom: 15px;
}


#admin_login {
    /*margin-top: 20vh;*/
    border: 0;
    border-radius: 0;
    padding: 30px 15px;
    border-top: 10px solid #ff6f00;
}

#admin_login .panel-heading {
    text-align: center;
    background: transparent;
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background:#fff !important;
}

#admin_login .panel-body {
    padding: 0;
}
.panel-heading {
    background: #ff6f00 !important;
}
#admin_login .panel-heading .panel-title {
    font-weight: 600;
    font-size: 150%;
    margin-bottom: 5px;
    color: #222;
    text-transform: capitalize;
}

#admin_login .panel-footer {
    text-align: center;
}

#admin_login .logo {
    width: 90px;
}

.panel-body {
    padding: 30px;
}

.panel {
    border-color: #eee;
    box-shadow: none;
    border-radius:6px;
    overflow: hidden;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #eee;
    box-shadow: none;
    border-radius: 0;
    height: 45px;
    border-radius: 3px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #334A58;
}

.navbar-top-links > li > a:hover,
.navbar-top-links > li > a:focus,
.navbar-top-links > .open > a,
.navbar-top-links > .open > a:hover,
.navbar-top-links > .open > a:focus {
    /*color: #000;
    background-color: transparent;*/
    background-color: #ff6f00;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
    /*box-shadow: 0 0 20px 0 #eee;*/
}

.error {
    font-weight: normal;
    color: #a94442;
}

.panel-primary > .panel-heading {
    background-color: #ff6f00 !important;
    border-color: #ff6f00 !important;
}

body a {
    color: #ff6f00;
}

body a:hover,
body a:focus {
    color: #ff6f00;
}

.page-header1 {
    font-size: 200%;
    font-weight: 600;
    margin: 0 0 20px;
    text-shadow: 4px 4px 4px #eee, 4px 4px 4px rgba(0, 0, 0, 0.2);
    color: #222;
}

.page-header {
    font-size: 200%;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: none;
    color: #222;
    border-bottom: 4px solid #ff6f00;
    padding-bottom: 20px;
    display: inline-block;
}

.panel-default > .panel-heading {
    background-color: #222;
    color: #fff;
    font-size: 120%;
    padding: 15px;
    border-radius: 0;
}

.btn-primary {
    background-color: #00b936;
    border-color: #00b936;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    background-color: #008e29;
    border-color: #008e29;
}

.btn {
    outline: none !important;
}

.sidebar-nav .nav {
    background: #222;
}

.sidebar-nav .nav li .nav-third-level {
    background-color: #ddd;
}

.sidebar-nav .nav > li > a {
    color: #222;
    background-color: #fff;
    padding: 13px;
    font-weight: 500;
}

.sidebar ul li a.active {
    background-color: #ff6f00;
    color: #fff;
}

.sidebar-nav .nav > li > a:focus,
.sidebar-nav .nav > li > a:hover {
    color: #222;
    background-color: #f2f2f2;
}

#wrapper {
    background-color: #222;
}

/* //over rided */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

/* support */

.query-box {
    /*text-align: center;*/
    margin-bottom: 30px;
}

.flashmsg-box {
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    /*box-shadow: 0 0 20px 0 #eee;*/
}

.flashmsg-box .img img {
    width: 80px;
    display: inline-block;
    margin-bottom: 15px;
}

.flashmsg-box .title {
    font-size: 150%;
    color: #334A58;
    margin-bottom: 15px;
    font-weight: 600;
}

.flashmsg-box .subtitle {
    font-size: 110%;
    font-weight: 500;
}

.support-box {
    padding: 30px;
    box-shadow: 0 0 20px 0 #eee;
}

.ticket-title {
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 5px;
}

.ticket-id {
    font-size: 110%;
}

.ticket-date {
    font-size: 90%;
    color: #777;
    font-weight: 500;
}

.ticket-box {
    padding-top: 15px;
    margin-bottom: 15px;
    border-top: 1px dotted #eee;
}

.ticket-box:last-child {
    margin-bottom: 0;
    padding-bottom: 15px;
    border-bottom: 1px dotted #eee;
}

.all-tickets .main-title {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 25px;
    padding-bottom: 15px;
    text-align: center;
    position: relative;
}

.all-tickets .main-title::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 150px;
    border-bottom: 2px solid #334A58;
    transform: translateX(-50%);
}

.support-chat-box .body p {
    font-size: 90%;
}

.support-chat-box .name {
    font-weight: 600;
    color: #334A58;
}

.support-chat-box.user .desc {
    margin-left: 20%;
    background-color: #f1f1f1;
}

.support-chat-box .desc {
    width: 80%;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #eee;
}

.support-chat-box .head {
    margin-bottom: 5px;
}

/* //support */


/*new styles*/

.box_form_control .form-control {
    padding: 0;
    border: 0;
    height: auto;
    background-color: #fff;
}

.box_form_control .form-group {
    padding: 10px;
    box-shadow: 0 0 10px 0 #eee;
    border-left: 2px solid #ff6f00;
}

.box_form_control .form-group label {
    font-size: 120%;
}

/*web modal*/

.web_modal .modal-body {
    padding: 15px;
}

.web_modal .modal-content {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

.web_modal .modal-content .modal-header {
    background-color: #ff6f00;
    border: 0;
}

.web_modal .modal-content .modal-header .modal-title {
    color: #fff;
    font-size: 200%;
    font-weight: 600;
}

.web_modal .modal-header .close {
    font-size: 200%;
    color: #fff;
    opacity: 1;
}

.modal-footer {
    text-align: center;
}

/*//web modal*/

/*web table*/

.web_table table {
    width: 100%;
    margin-bottom: 0;
    box-shadow: 0 0 5px 0 #eee;
}

.web_table th {
    background-color: #ff6f00;
    color: #fff;
    padding: 15px !important;
    border-color: #eee !important;
    border-right: 1px solid;
}

.web_table td {
    padding: 10px 15px !important;
    border-color: #eee !important;
    border-right: 1px solid;
}

.web_table p {
    margin: 0;
}

.web_table table {
    margin-bottom: 0;
    box-shadow: 0 0 5px 0 #eee;
}

.web_table th {
    background-color: #ff6f00;
    color: #fff;
    padding: 15px !important;
}

.web_table td {
    padding: 10px 15px !important;
}

.web_table p {
    margin: 0;
}

.web_table td, .web_table th {
    border-color: #eee !important;
    border-right: 1px solid;
}

.web_table td:last-child, .web_table th:last-child {
    border-right: 0;
}

/*//web table*/

/*nav*/

.navbar-inverse {
    background-color: #222;
    border-color: #222;
    border-radius: 0;
}

/*//nav*/

#login_page {
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login_page_wrap {
    width: 100%;
}

#admin_login .subtitle {
    color: #000;
    margin: 10px 0 0 0;
}

.sidebar ul li {
    border: 0;
}

.sidebar ul li > ul {
    padding-left: 15px;
}

.sidebar-nav .nav > li > a i {
    font-size: 130%;
    margin-right: 10px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #ff6f00;
    border-color: #ff6f00;
}

.add-btn {
    background-color: #27ae60 !important;
}

.add-btn a {
    color: #fff !important;
}

.remove-btn {
    background-color: #c0392b !important;
}

.remove-btn a {
    color: #fff !important;
}

.other_field {
    margin-top: 10px;
}

.input-group {
    position: relative;
    width: calc(100% - 40px);
}

.input-group .input-group-addon {
    border: 1px solid #eee;
    border-left: 0;
    background-color: #ff6f00;
    color: #fff;
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
    height: 45px;
    line-height: 32px;
}

.input-group input {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-addon {
    background-color: #ff6f00;
    color: #fff;
    border-color: #ff6f00;
}

.input-group.error .input-group-addon {
    background-color: #e74c3c;
    border-color: #e74c3c;
}


/*dashboard*/

/*count card*/

.count_card {
    padding: 15px;
    box-shadow: 0 0 5px 0 #eee;
    margin-bottom: 15px;
    border-top: 5px solid;
}

.count_card .title {
    font-size: 120%;
    font-weight: 600;
}

.count_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.count_box .count {
    text-align: right;
    width: 50px;
}

.count_box .name {
    width: calc(100% - 50px);
}

.count_box .count span {
    width: 32px;
    height: 32px;
    display: block;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
    background-color: #e67e22;
    border-radius: 50%;
    color: #fff;
}

/*//count card*/

/*//dashboard*/

/* live search box */

.company_list,
.contper_list, .city_list, .area_list {
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
    padding: 0;
    /* background-color: #2c3e50; */
    /* -webkit-border-radius: 5px; */
    -moz-border-radius: 5px;
    /* border-radius: 5px; */
    /* font-family: 'Lato', sans-serif; */
    /* color: #fff; */
}

/*.company_search,
.contper_search {
    width: 100%;
    display: block;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #3498db;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}*/

.company_list li,
.contper_list li,
.city_list li, .area_list li {
    color: #fff;
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #2c3e50;
    border: 0;
}


/* //live search box */

/*employee view*/

.contact_person_box {
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px 0 #eee;
    width: calc(30% - 15px);
    margin-right: 15px;
}

.contact_person_box p {
    margin: 0;
}

.contact_person_box .web_btn {
    margin: 0;
}

.contact_person_box .button {
    text-align: center;
}

.contact_person_box_wrap {
    display: flex;
    flex-wrap: wrap;
}

.styled_table {
    margin-bottom: 10px;
    border: 0 !important;
}

.styled_table th {
    background-color: #fff;
    color: #ff6f00;
    width: 50%;
    position: relative;
}

.styled_table th::before {
    content: ':';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.styled_table th,
.styled_table td {
    border: 0 !important;
}

/*single view*/

.customer_all_visits {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.customer_visit_box {
    width: calc(50% - 15px);
    margin-right: 15px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px 0 #eee;
}

.customer_visit_box table {
    margin-bottom: 0;
}

/*products*/

#productModal .top_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed;
}

#productModal .top_box .box {
    width: 50%;
}

#productModal .top_box .box .cname {
    font-size: 160%;
    font-weight: 600;
    margin: 0;
}

#productModal .top_box .box .comname {
    margin: 0;
    font-size: 110%;
}

#productModal .top_box .box:nth-child(2) {
    text-align: right;
}

#productModal .top_box .box .date {
    color: #777;
    font-size: 110%;
}

.products_card_box .pname {
    font-size: 110%;
    margin-bottom: 5px;
}

.products_card_box p {
    margin: 0;
}

.products_card_box {
    box-shadow: 0 0 10px 0 #eee;
    padding: 15px;
    margin-right: 15px;
    margin-top: 15px;
    width: calc(100%/3 - 15px);
}

.products_card_box_wrap {
    display: flex;
    flex-wrap: wrap;
}

.products_card_box .price {
    color: #ff6f00;
    font-weight: 600;
    font-size: 130%;
}

/*//products*/

/*//single view*/

/*//employee view*/

/*company view*/

#customer_sidebar {
    box-shadow: 0 0 5px 0 #eee;
}

#customer_sidebar ul {
    list-style: none;
    padding: 0;
}

#customer_sidebar ul a {
    color: #000;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #eee;
}

#customer_sidebar ul li:last-child a {
    border: 0;
}

#customer_sidebar ul a i {
    margin-right: 10px;
    font-size: 110%;
}

#customer_sidebar ul a:hover, #customer_sidebar ul a:focus {
    background-color: #ff6f00;
    color: #fff;
}

#customer_content .panel-body {
    padding: 20px;
}


#customer_content .panel-body .form-control{
     padding: 6px 12px;
     height: 36px;
}

.compnm-sidebar .page-header{
    margin-top:0 !important;
}

/*active sidebar*/

.company_nav #customer_sidebar .company_active a,
.contact_nav #customer_sidebar .contact_active a,
.note_nav #customer_sidebar .note_active a,
.notes_nav #customer_sidebar .notes_active a,
.task_nav #customer_sidebar .task_active a,
.requirement_nav #customer_sidebar .requirement_active a,
.visit_nav #customer_sidebar .visit_active a
{
    background-color: #ff6f00;
    color: #fff;
}

/*//active sidebar*/

/*notes*/

textarea.textarea_note {
    height: 150px;
}

.notes_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.notes_box {
    /*width: calc(100%/3 - 15px);*/
    width: 100%;
    margin-right: 15px;
    background-color: #FFFD75;
    padding: 15px;
    padding-top: 30px;
    position: relative;
    margin-bottom: 15px;
} 

.notes_box::before {
    content: '';
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    background-image: url('../images/pin.png');
    background-size: 30px 30px;
}

.notes_box .note_by p {
    margin-bottom: 0;
}

.notes_box .note_by .name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 110%;
}

.notes_box .note_by {
    text-align: right;
}

.notes_box .note_by .date {
    color: #777;
    font-size: 90%;
    font-style: italic;
}

/*notes*/

/*customer view*/
#customer_content {
    padding-top: 50px;
}


.compnm-sidebar{ 
    text-align:center;
}

#company_nav{ 
    padding-top:50px;
}

/*//company view*/

/*media queries*/
#page-wrapper {
    background: #eee;
}
@media (min-width: 768px) {
    #page-wrapper {
        /*padding: 50px 15px;*/
    }
}

@media (max-width: 767px) {
    .sidebar {
        height: auto;
    }

    .page-header {
        font-size: 150%;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #ff6f00;
        background-color: #ff6f00;
    }

    #page-wrapper {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .contact_person_box,
    .customer_visit_box {
        width: 100%;
        margin-right: 0;
    }

    .products_card_box {
        width: calc(50% - 15px);
    }


    /*employee form*/

    .form_step {
        display: none;
    }

    .form_step.active {
        display: block;
    }

    .steps_display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
    }

    .steps_display a {
        width: calc(100%/4);
        display: block;
        text-align: center;
    }

    .steps_display a span {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        background-color: #eee;
        color: #000;
        border-radius: 50%;
    }

    .steps_display a.active span {
        background-color: #ff6f00;
        color: #fff;
    }

    .steps_display::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        border-top: 1px dashed #eee;
        z-index: -1;
    }

    .fixed_form_buttons {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        z-index: 999;
    }

    .fixed_form_buttons .button_box {
        width: 50%;
        text-align: center;
    }

    .fixed_form_buttons .button_box .form_btn {
        width: 100%;
        padding: 15px;
        background-color: #ff6f00;
        border: 0;
        color: #fff;
        display: block;
        font-size: 110%;
    }

    .fixed_form_buttons .button_box .form_btn.next_btn {
        background-color: #334A58;
    }

    .fixed_form_buttons .button_box button[disabled] {
        background-color: #90f9e3;
        cursor: no-drop;
    }

    #page-wrapper.employee_add_page {
        padding-bottom: 50px;
    }


    textarea.form-control {
        height: 150px;
    }

    /*//employee form*/

}

/*//media queries*/

/*new styles*/

.panel-footer {
    background: #fff;
}
.admin-dash-box div.text-right{
    font-size:13px;
}
.admin-dash-box i {
    margin-top: 10px;
}