 @media (max-width: 767px) {

    html {
        font-size: 12px;
    } 
    
} 

@media (max-width:425px) {
.navbar-brand > img {
    margin-top:0px;
}
    
   .form-bg ,.form-info-container {
    width: 320px; 
   }
   
   .form-info-container{
       padding:10px;
   }
   
   .section-title:before{ 
    width: 200px;  
    left: 16%;
   }
    
.service-sector{
        width: calc(100%/1);
}    
    
}