/* colors 

  
*/ 
 
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
} 

html {
    font-size: 16px;
}

body {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #777777;
    letter-spacing: .5px;
    font-weight: 400;
}

body a {
    text-decoration: none !important;
    color: #1A67C1;
}

body a:hover,
body a:focus {
    color: #1A67C1;
    opacity: .9;
}

section {
    padding: 40px 0;
}

a:focus{
    outline:none;
}


.text-blue{
    color: #1A67C1;
}



.section-title .title{
    text-align: center;
    font-size: 200%;
    font-weight: 700;
    margin-bottom: 30px; 
    color: #1A67C1;
    text-transform:uppercase 
}

.section-title-white .title{
    text-align: center;
    font-size: 200%;
    font-weight: 700;
    margin-bottom: 30px; 
    color: #fff;
    text-transform:uppercase 
}

.section-title{
    position:relative;
}


.section-title .far{
    font-size: 200%;
    color:#c4c4c4;
    background:#fff;
}


.section-title:before{
    content: '';
    width: 333px;
    height: 2px;
    background: #e8e8e8;
    position: absolute;
    bottom: 15px;
    left: 36%;
    max-width: 100%; 
    z-index:-1;
}

.pg-header{
    padding:40px 0;
    background: linear-gradient(rgba(000,000,000,0.5),rgba(000,000,000,0.5)),url(https://news.efinancialcareers.com/binaries/content/gallery/efinancial-careers/articles/2012/09/exam_multiplechoice.jpg);
        background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.pg-header h1{
    font-size:250%;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
}
  
.pt-20{
    padding-top:20px;
}  

.pb-20{
    padding-bottom:20px;
}  

.p-0{
    padding:0;
}

.mt-20{
    margin-top:20px;
}

/* navbar */

.navbar {
    margin-bottom: 0;
    /*box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .20);*/
    /*padding: 10px 0;*/
    border-radius:0;
    border: 0;
    background:#1A67C1;
}

.navbar-nav {
    display: inline-block;
    float: none;
}

#myNavbar{ 
    /*background:#1A67C1;*/
    text-align: center;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 100%;
    font-weight:600;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}

.navbar-toggle {
    border-color: transparent;
}

.navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-brand {
    padding: 0;
    float: none;
}

.navbar-brand > img {
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 20px 0 #ddd;
}

.dropdown-menu li{
    padding: 5px;
    color:#1A67C1;
    border-bottom:1px solid #ddd;
}

.dropdown-menu li:last-child{
     border-bottom:none;
}

.dropdown-menu > li > a{
    white-space: normal;
}

.navbar-nav .open .dropdown-menu{
    background:#fff;
}

/* //navbar */


/*top bar*/

.top-contact-box .fas,.top-contact-box .far {
    color:#1A67C1;
    /*border: 1px solid #a2a2a2;*/
    padding:7px;
    font-size:150%;
    margin-right:10px;
    /*float:left;*/
}

.top-contact-box a{
    margin-right:15px;
}

.top-contact-box{
    padding-top:40px;
}

.cart-box-top a h4{
    color:#222; 
}

.cart-box-top .fas{
    color:#1A67C1; 
}

.cart-box-top .top-contact-box-right .fas{
    font-size:180%;
    padding-bottom:15px;
}


.cart-box-top .top-contact-box-right{
   /*display: inline-block;*/
   padding-top:30px;
   padding-bottom:30px;
   
}
 
.cart-box-top {
    padding:10px;
    text-align:center;
     border: 1px solid #a2a2a2;
}
.top-contact-box-right {
    position: relative;
}
  
.top-contact-box-right,.top-contact-box-right a{
     color:#1A67C1; 
    font-weight:600;
}

.top-contact-box-right h4{
    text-transform:uppercase;
    font-weight: 700;
}


/*top bar*/



/* home */

/*#home-banner {*/
/*    margin-top:-30px; */
/*    z-index:-1;*/
/*}*/
 
#myCarousel.carousel,#myCarousel.carousel .item {
    height: 80vh;
}

.carousel-inner {
  height: 100%;
  background: #000;
}

.carousel-caption{padding-bottom:120px;}
 
.carousel-caption h1{
    margin-bottom:20px;
     text-transform:uppercase;
    font-weight: 700;
    font-size:250%;
} 

.carousel-caption p{
    margin-bottom:20px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:0.6;
}




/**
 * Button
 */
 .btn:focus,.btn-transparent:focus{
     outline:none;
 }
 
.btn-transparent {
  background: #1A67C1;
  color: #fff;
  border: 2px solid #1A67C1;
  transition:all 0.8s;
}
.btn-transparent:hover {
  background-color: #fff;
  color:#1A67C1;
}
 

.white-btn {
  background: #fff;
  color: #1A67C1;
  border: 2px solid #fff;
  transition:all 0.8s;
  font-weight:500;
}
.white-btn:hover {
  background-color: #1A67C1;;
  color:#fff; 
}
 

.btn-rounded {
  border-radius: 7px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
  font-weight:500;
  margin-right: 5px;
}



/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
} 

 
/* //home */


.why-box{ 
  color: #fff; 
  padding:1em;
  text-align:center;
  min-height: 405px;
} 

 .why-box .fas, .why-box .far{ 
      font-size: 300%;
      margin-bottom:15px;
 }

 .why-box h3{
     text-align:center;
     font-weight:600;
     margin-bottom:15px;
 }

 .why-box  p{
     text-align:left;
 }
 
 /*about us*/
 
 .benefits-box {
    color: #000000;
    background-color: #ffffff;
    padding: 40px;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 10px 60px rgba(0,0,0,0.1);
    position: relative;
    transition: all 0.8s;
    border-style: solid;
    border-color: transition; 
    margin-bottom: 15px;
    min-height:325px;
}

.benefits-box:hover{
    border-style: solid;
    border-color: #1A67C1;
}

.benefits-box .number {
    position: absolute;
    content: '';
    left: 20px;
    top: 20px;
    font-size: 150%;
    background: #ccc; 
    padding: 5px;
    width: 20px;
    height: 20px;
}

.benefits-box .title {
    margin-bottom: 15px;
    color: #1A67C1;
    text-transform: capitalize;
    font-weight: 600;
}
 
 
.testimonial{
    text-align: center;
    padding: 85px 50px 45px 70px;
    margin: 70px 15px 35px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 #1A67C1;
    position: relative;
}
 
.testimonial .description{
    font-size: 15px;
    color: #757575;
    line-height: 27px;
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 32px;
    color: #1a67c1;
    position: absolute;
    top: -15px;
    left: -35px;
}
.testimonial .testimonial-profile{
    position: relative;
    margin: 20px 0 10px 0;
}
.testimonial .testimonial-profile:after{
    content: "";
    width: 50px;
    height: 2px;
    background: #77a9dd;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.testimonial .title{
    display: inline-block;
    font-size: 18px;
    color: #4a5184;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 15px;
    color: #757575;
    text-transform: capitalize;
}
#testimonial-slider .owl-theme .owl-controls{
    margin-top: 10px;
}
#testimonial-slider .owl-theme .owl-controls .owl-page span{
    background: #5e5f5f;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
#testimonial-slider .owl-theme .owl-controls .owl-page.active span,
#testimonial-slider .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #77a9dd;
}
#testimonial-slider .owl-theme .owl-controls .owl-page.active span{
    width: 22px; 
 height: 12px;
}

/*faq*/
 

.panel-group {
  margin-bottom: 0;
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}
.panel-group .panel .panel-heading {
  padding: 0;
}
.panel-group .panel .panel-heading h4 a {
  background: #f8f8f8;
  display: block; 
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  transition: 0.15s all ease-in-out;
  font-size: 100%;
}
.panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
       background: #1a67c1;
    transition: 0.15s all ease-in-out;
    color: #fff;
        font-size: 100%;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
  content: "";
}
.panel-group .panel .panel-heading h4 a i {
  color: #999;
}

.panel-group .panel li{
    margin-left:20px;
}
 
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
      font-size: 90%;
}
.panel-group .panel + .panel {
  border-top: none;
  margin-top: 0;
}

.term-row{
    margin-top:20px;
}


 /*couse section*/
 
 .course-box{
     border:1px solid #e0e0e0; 
     overflow:hidden;
     margin-bottom:15px;
 }
 
  .course-box:hover img{
      transform: scale(1.2,1.2);
  }
  
   .course-box-img img{
       transition:all 1s;
       width: 100%;
    height: 200px;
   }
 
 .course-box-img{ 
     overflow:hidden; 
 }
 .course-box-img1{ 
     overflow:hidden;
     background: url(../../uploads/blue-bg.jpg);
    width: 100%;
    height: 250px; 
    position: relative;
 }
 
 
 .course-box-img1  .constant{
     position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: yellow;
    font-weight: 600;
 }
 
 
 .course-box-content {
     padding:1.5em;
 }
 
  .course-box-content p{ 
     text-align:justify;
     min-height: 135px;
  }
 
   .course-box:hover .course-box-title{
       color: #1A67C1;
   }

.course-box-title{
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
     transition:all 1s;
     text-transform:uppercase;
     min-height: 60px;
}

.see-more-box{
    background:#1A67C1;
    text-align:left;
    padding: 25px 10px;
}

.see-more-box a,.see-more-box a:hover,.see-more-box a:focus{
    color:#fff;  
}

.see-more-box form{
    float: right;
}

/**/

#service-sector {
    display: flex;
    flex-wrap: wrap;
}

.service-sector {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 10px;
    text-align: center;
    width: calc(100%/2); 
    font-weight: 600;
    text-transform: uppercase;
}

/*login page*/
/* FORM BG */
.form-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.form-bg {
  width: 450px;
  height:311px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  background-image: url(https://i.postimg.cc/T1QdF2JD/form-bg-2.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container-btn {
  display: flex;
  margin-bottom: 1rem;
}
 
 
/* FORM INFO */
.form-info-container {
  width: 450px;
  height: 430px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 0px 40px;
  box-sizing: border-box;
}
.form-info {
  display: block;
}

.container-email label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #859bae;
}
.mobile-input-group {
    width:100%;
}
.container-email input, .container-email select{
  background-image: url(https://i.postimg.cc/D01jwmMS/icon-01.png);
  background-repeat: no-repeat;
  background-position: left;
  background-origin: content-box;
  background-position-x: 10px;
  background-size: 20px;

  display: block;
  width: 98%;
  margin-bottom: 20px;
  line-height: 40px;
  border: none;
  color: #3d3d3d;
  border-radius: 6px;
  text-indent: 40px;
  border: 2px solid #FFF;
  transition: .3s all; 
  box-shadow: 0px 10px 23px 0px rgba(240,240,240,1);

}
.container-email select {
  background-position-x: 0px;
  text-indent: 30px;
  height:44px;
}
.container-password label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #859bae;
}

.container-password input {
  background-image: url(https://i.postimg.cc/G2yzXHrX/icon-02.png);
  background-repeat: no-repeat;
  background-position: left;
  background-origin: content-box;
  background-position-x: 10px;
  background-size: 20px;

  display: block;
  width: 98%;
  margin-bottom: 20px;
  line-height: 40px;
  border: none;
  color: #3d3d3d;
  border-radius: 6px;
  text-indent: 40px;
  border: 2px solid #FFF;
  transition: .3s all;
  box-shadow: 0px 10px 23px 0px rgba(240,240,240,1); 

}

#email::-webkit-input-placeholder{
  color: #CAD1DA;
  text-transform: uppercase;
  line-height: 40px;
  font-style: bold;
}

#password::-webkit-input-placeholder{
  color: #CAD1DA;
  text-transform: uppercase;
  line-height: 40px;
  font-style: bold;
}

.container-checkbox {
  display: flex;
  align-items: center;

}

.container-checkbox label {
  margin-left: 5px;
  font-size: 14px;
  line-height: 40px; color: #859BAE;
}

.container-checkbox input {
  width: 18px;
  height: 18px;
}
 
#login-contn h2 {
    font-size:200%;
    font-weight:600;
    margin-bottom:20px;
    margin-top:20px;
    color:#1A67C1;
} 
 
/*single package*/


.pack-img img {
    width: 250px;
    height: 250px; 
    border-radius: 10px;
}

.pack-img-outer{ 
    float:left; 
    margin-right:15px;  
}

.pack-img1{
    background:url(../../uploads/blue-bg.jpg);
      width: 250px;
    height: 250px; 
    border-radius: 10px;
    position:relative;
}

.pack-img1 .constant,.blog-img1 .constant{
    position:absolute;
    bottom:15px;
    left:50%;
    transform: translateX(-50%);
    color:yellow;
    font-weight:600;
}

.blog-box .blog-img1{
    margin-bottom:20px;
        background-repeat: no-repeat;
    background-size: cover;
}

.blog-img1{
    background:url(../../uploads/blue-bg.jpg);
      width:100% ;
    height: 250px;  
    position:relative;  
    
}

.img-text{
    position:absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    color:#fff;
    font-weight:600;
    text-align:center;
}


.pack-img{
  margin-bottom:10px;  
    border-radius: 10px;
    padding: 10px;
    background: #ddd;
}

.sku span{
   color:#1A67C1;
   font-weight:600;
}

.price{
    margin-top: 10px;
    padding: 15px;
    color: #fff;
    background: #222;
    text-align: center;
    outline: 1px dashed #fff;
    outline-offset: -5px;
}

.price h2{
    font-weight:600;
}



.course-name{ 
    font-size:200%;
    font-weight:600;
    margin-bottom:20px; 
    color:#1A67C1;
    text-transform: uppercase;
}

.pack-desc{
    text-align:justify;
}
 


.feature-right{
    background:#1A67C1;
    color:#fff;
    outline:1px dashed #fff;
    padding:1.5em;
    border-radius:7px;
    outline-offset: -5px;
}


#feature{ 
    background: #eee;
    /*color: #fff;*/
}


.feature-right p{
    margin-top:20px;
}

.feature-list,.qt-list{
    list-style:none; 
}

.feature-list li{
    text-align:justify;
    margin-bottom: 10px;
}

.feature-list .fas, .qt-list .fas{
   margin-right: 15px;
    background: #1A67C1;
    color: #fff;
    padding: 2px;
    border-radius: 100%;
    font-size: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
}

#msg-container{
    height:55vh;
    text-align:center;
    color:#222;
}

.msg-box{
 text-align:center;   
}

.msg-box img{
    height:80px;
    margin:auto;
    padding-bottom:20px;
}

/*cart page*/

.cart-head{
    font-size:120%;
    font-weight:600;
    color:#fff;
    background:#333;
    margin-bottom:10px;
    padding:10px;
}

.cart-box{
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:2px dashed #777;
}

.cart-box:last-child{
    border-bottom:none;
}

.cart-box .cart-product-img{
    height:50px;
    float: left;
    margin-right: 15px;
     margin-bottom:15px;
}

.cart-product-name{
   color: #1A67C1;
   font-weight:500;
   font-size:120%;
}

.cart-total-price{
    background: #eee;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
}

.cart-empty{
    text-align:center;
    height:30vh;
}


#view table td,#view table th{
    padding:10px;
}

#edit form .row{
    margin-bottom:10px;
}

/*forgot password*/

.forgot-box {
    text-align:center;
}

.forgot-box img{
    height:80px;
    margin: auto;
    padding-bottom:20px;
}

.forgot-box p{
    margin-top:10px;
}


/*take exam*/

.take-exam .panel-default > .panel-heading {
    color: #333;
    font-weight: bolder;
    background-color: #eee;
}

/*checkout*/

.checkout-table th{
    background:#1A67C1;
    color:#fff;
}


.not-verified-singlepackg-box{
    background-color: red;
    color: #fff;
    padding:10px;
    outline:1px dashed #fff;
    outline-offset:-5px;
}

.not-verified-singlepackg-box span{
    color:#fff;
}

.not-verified-singlepackg-box a{
    color: #fff;
}


/*submit*/
.ans-box{
     display: inline-flex;   
}

.ans-box img{
    margin-right:10px;
    width: 30px;
}
 
.ans-box p{
    padding-top: 5px;
}

.red{
    color:red;
}


.green{
    color:green;
}

/*my profile*/

.myprofile > li{
        /*display: contents;*/
}

.myprofile.nav-tabs{
    border-bottom:none;
}

.myprofile > li > a{ 
        background:#1A67C1;
        color:#fff;
        border:1px solid #fff;
        border-radius:0;
}

.myprofile.nav  > li.active > a,.myprofile.nav  > li:hover > a,.myprofile.nav  > li:focus > a{
    background-color:#222;
        color:#fff;
}

.table-result,.order-table{
    width:100%;
}


.table-result th, .order-table th{
    background:#1A67C1;
    color:#fff;
    padding:5px;
}

.table-result td,.order-table td{
    padding:5px;
}

.profile-pg-list{
      font-size: 110%;
    margin-left: 20px;
    font-weight: 700;
} 

.side-box{
    border: 1px solid #a2a2a2;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
}

.side-box li{
    font-size:90%;
}

.prof-side-blue{
     background:#222; 
    text-align:center;
    padding:15px; 
    outline:1px dashed #fff;
    outline-offset:-5px;
}

.prof-side-blue a,.prof-side-blue a:hover,.prof-side-blue a:focus{
    color:#fff;
    font-size:110%;
}

.side-title{
    background:#1A67C1;
    color:#fff;
    text-align:center;
    padding:5px;
    margin-bottom:10px;
}

/*testimonial page*/

.testimonial-box{
    border:1px solid #ddd;
    margin-bottom:15px;
    padding:10px;
}

.testimonial-title,.testimonial-name{
    color: #1A67C1;
    font-weight:600;
}

.testimonial-name,.testimonial-date{
    margin-top:15px;
}

.testimonial-date{
    color: #777777; 
}

.testimonial-desc{
    text-align:justify;
    padding-top:10px;
}

.more-blog{
    text-align: center; 
    margin-top: 15px;
    background: #222;
    padding: 5px;
}

.more-blog a{
    color:#fff;
}

/*all blog page*/
 
 .blog-box{
     border:1px solid #eee;
 }
 
 .blog-body{
     padding:10px;
 }
 
 .blog-img{
     height:200px;
     width:100%;
     background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-bottom:15px;
 }
 
 .blog-smdesc{
     margin-top:15px;
     margin-bottom:10px;
     padding-bottom:15px;
     border-bottom:1px solid #eee;
     text-align:justify;
 }
 
 .blog-title{
     color: #1A67C1;
    font-weight:600;
    min-height: 60px;
 }
 
 .read-btn{
     padding-top:5px;
 }
 
 
 /*single blog*/
 
.single-blog .blog-img{
     width:100%;
     height:350px;
 }
 
 .single-blog .text-muted{
     padding-left:10px;
 }
 
 
 /**/
 
 .queview h2{
     margin-bottom:20px;
 }
 
 
.queview .qbox{
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-right: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: 5px;
}
 
/**/

.dashboard-box{
    padding:20px;
    border:1px solid #eee;
}

/*contact us pahe*/

.form-div span input, .form-div textarea {
    width: 100%;
    border: 1px solid #e6e5e5;
    background-color: #ffffff;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-radius: 0px 0px 0px 0px;
}

.form-row {
    margin-bottom: 10px;
     margin-top:20px;
}
 
 .form-group i{
     margin-right:10px;
 }
  
/* footer */

.footer-menu-list{
    text-align: center;
    padding:10px 10px 7px 10px;
    border-bottom:1px solid #fff;
}

.footer-menu-list li{
    display:inline;
}

#copyright {
    background-color: #000;
}

#copyright p {
    text-align: center;
    /*padding: 20px 0;*/
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    color: #fff;
}

#copyright a {
    color: #fff;
}

.flx {
    display: flex;
}

.input-group-addon.mobile-input-group {
    padding:0;
    background:none;
    border:none;
    width:100px;
}
input.mobile-input {
    width:calc(100%) !important;
}



.payment-box {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 5px 15px 15px;
    border:3px solid #f2f2f2;
    border-radius: 10px;
    min-height: 155px;
    margin-bottom: 15px;
    cursor: pointer;
}
@media all and (max-width: 767px) {
  .payment-box {
    min-height: 120px;
  }
}
.payment-box:hover {
  border-color: #ddd;
}
.payment-box-active {
  border-color: #42b468 !important;
}
.payment-box-active:hover {
  border-color: #42b468 !important;
}
.payment-box input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.translate-wrap {
	background:#fff;
	height: 30px;
	display: inline-block;
	padding:3px 10px 3px 10px;
	overflow: hidden;
	margin-left: 2px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}
.goog-te-gadget-simple {
    padding-left: 0;
}
.translate-wrap a {
    margin-right: 0;
}
.goog-te-gadget-icon {
    display: none !important;
}
.goog-te-menu-value {
	font-family: 'IBM Plex Sans', sans-serif !important;
	font-weight: 600 !important;
	letter-spacing: 0.05em !important;
}
/* //footer */
.footer-social-list {
    margin:20px auto 0 auto;
}
.footer-social-list li {
    list-style: none;
    display: inline;
}
.footer-social-list li a{
    width:40px;
    height:40px;
    display: inline-block;
    background-color: #fff;
    color: #222 !important;
    line-height: 40px;
    border-radius: 40px;
    font-size: 20px;
    margin:0 2px;
}